#===postgres===
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=warehouse
# DB riêng cho Airflow metadata (sẽ được tạo bởi init script)
AIRFLOW_DB=airflow

#===minio===
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=your_password_here

#===airflow===
_AIRFLOW_WWW_USER=admin
_AIRFLOW_WWW_PASSWORD=your_password_here
_AIRFLOW_FERNET_KEY=your_fernet_key_here
# nếu chưa có fernet key thì tạo như sau
# pip install cryptography
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_UID=50000

#===airflow conection===
AIRFLOW_CONN_POSTGRES_WAREHOUSE=postgresql://admin:your_password_here@postgres:5432/warehouse
AIRFLOW_CONN_KAFKA=kafka://kafka:9092
AIRFLOW_CONN_MINIO_S3=aws://minio:your_password_here@/?endpoint_url=http%3A%2F%2Fminio%3A9000

